.word {
  color: #fff;
  display: inline-block;
  padding: 1px 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: 1px solid transparent;

  &:hover,
  &.selected {
    background-color: rgb(30 41 59); // slate-800
    border: 1px solid #525252;
    border-radius: 7px;
  }
}
